[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
thefuzz = "*"
requests = "*"
polars-lts-cpu = "*"
jellyfish = "*"
recordlinkage = "*"
pandas = "*"
tabulate = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.12"
